@tailwind base;
@tailwind components;
@tailwind utilities;

/* 글로벌 스타일에 추가 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
